<nav class="crypto-navigation">
  <a href="index.html" class="crypto-navigation__logo">
    <!-- Image element or even SVG can be used here -->
    <!-- <img src="{{ base }}assets/images/crypto-logo.svg" alt="Crypto" class="crypto-navigation__logo-image">
     -->
     <svg height="40" viewBox="0 0 40 40" width="40" xmlns="http://www.w3.org/2000/svg">
      <g fill-rule="nonzero" transform="translate(22 22)">
        <path d="m0 3.64v14.26c9.44-.94 16.96-8.46 17.9-17.9h-14.26c-.62 1.7-1.94 3.02-3.64 3.64z" fill="var(--mdc-theme-primary-800)" />
        <path d="m-22-2c0 10.38 7.9 18.9 18 19.9v-14.26c-2.32-.84-4-3.04-4-5.64s1.68-4.8 4-5.64v-14.26c-10.1 1-18 9.52-18 19.9z" fill="var(--mdc-theme-primary-200)"/>
        <path d="m3.64-4h14.26c-.94-9.44-8.46-16.96-17.9-17.9v14.26c1.7.62 3.02 1.94 3.64 3.64z" fill="var(--mdc-theme-primary-600)"/>
      </g>
    </svg>

  </a>
  <ul class="crypto-navigation__list">
    {% for item in [{title:"Dashboard", href:"#", icon:"timeline"},
                    {title:"Carteira", href:"wallet.html", icon:"account_balance_wallet", badge: 2},
                    {title:"Dados", href:"reports.html", icon:"bar_chart"},
                    {title:"Perfil", href:"profile.html", icon:"person"},
                    {title:"UI Elements", href:"elements.html", icon:"category"},
                    {title:"Sair", href:"login.html", icon: "power_settings_new"}] %}
      <li class="crypto-navigation__list-item mdc-ripple-surface {{ 'crypto-navigation__list-item--active' if active_page == item.title }}">
        <a href="{{item.href}}">
          <i class="material-icons crypto-navigation__list-item__icon" aria-hidden="true">{{item.icon}}</i>
          {% if item.badge %}
            <span class="crypto-navigation__list-item__badge">{{item.badge}}</span>
          {% endif %}
          <span class="crypto-navigation__list-item__label mdc-theme--on-surface mdc-typography--overline">
            {{item.title}}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

