<div class="crypto-menu-switches">
  <div class="crypto-menu-switches--handle">
    <i class="material-icons">settings</i>
  </div>
  <!-- RTL switch -->
  <div class="switch-wrapper mdc-theme--on-primary">
    <div class="mdc-switch crypto-rtl-switch-selector">
      <div class="mdc-switch__track"></div>
      <div class="mdc-switch__thumb-underlay">
        <div class="mdc-switch__thumb">
          <input type="checkbox" id="rtl-switch" class="mdc-switch__native-control" role="switch" aria-checked="false">
        </div>
      </div>
    </div>
    <label for="rtl-switch">RTL</label>
  </div>
  <!-- theme switch -->
  <div class="switch-wrapper mdc-theme--on-primary">
    <div class="mdc-switch crypto-theme-switch-selector">
      <div class="mdc-switch__track"></div>
      <div class="mdc-switch__thumb-underlay">
        <div class="mdc-switch__thumb">
          <input type="checkbox" id="crypto-theme-switch" class="mdc-switch__native-control" role="switch" aria-checked="false">
        </div>
      </div>
    </div>
    <label for="crypto-theme-switch">Switch theme</label>
  </div>
</div>
