// Circle icon
.crypto-social-circle-icon {
  font-size: 12px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0;
  margin-right: 8px;
  color: #ffffff;
  border-radius: 50%;
  flex-shrink: 0;
  // Social media icon colors.
  &--message {
    background: #00a2ec;
  }
  &--facebook {
    background: #395a93;
  }
  &--slack {
    background: #e51160;
  }
  &--twitter {
    background: #00a3ec;
  }
  &--spotify {
    background: #00b962;
  }
}

