{% set active_page = "Forgot Password" -%}

{% extends "layouts/no-layout.html" %}

{% block scripts %}
  <script src="assets/js/pages/forgot-password.js"></script>
{% endblock %}

{% block content %}
  <div class="crypro-login-container">
    <div class="crypro-login-container__box">
      <div class="crypro-login-container__box-inner">
        <h2 class="crypto-widget__heading mdc-typography--subtitle1 mdc-theme--primary">
          <span class="crypto-widget__heading-text">Reset Password</span>
          <span class="crypto-widget__heading-border"></span>
        </h2>
        <form class="crypto-login-form">
          <div class="mdc-text-field mdc-text-field--fullwidth crypto-margin-bottom-big">
            <input required
              id="email"
              type="email"
              class="mdc-text-field__input"/>
            <label for="email" class="mdc-floating-label">Email</label>
            <div class="mdc-line-ripple"></div>
          </div>
          <div class="crypto-display-flex crypto-display-flex--space-between">
            <div class="mdc-form-field">
              <a href="index.html" class="mdc-button mdc-button--unelevated big-round-corner-button">Reset</a>
            </div>
            <div class="mdc-form-field">
              <a href="login.html">Back to login</a>
            </div>
          </div>
        </form>
      </div>

      <p class="mdc-typography--body2 mdc-theme--on-surface">Enter your Email and instructions will be sent to you</p>
    </div>
  </div>
{% endblock %}

