{% set active_page = "Dashboard" -%}

{% extends "layouts/" + layout + ".html" %}

{% block scripts %}
  <script src="assets/js/pages/index.js"></script>
{% endblock %}

{% block content %}

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="crypto-widget">
          <h2 class="crypto-widget__heading mdc-typography--overline mdc-theme--primary">
            <span class="crypto-widget__heading-text">Valor consolidado</span>
            <span class="crypto-widget__heading-border"></span>
          </h2>
          <div class="crypto-widget__content">
            <div class="crypto-wallet-overview">
              <h1 class="mdc-typography--headline2 crypto-margin-none crypto-display-flex mdc-theme--primary crypto-text-shadow crypto-wallet-overview__balance" id="grana">0.00</h1>

              <span class="crypto-wallet-overview__market-value mdc-theme--primary">BRL</span>
            </div>
          </div>
        </div>
        </div>
    </div>
    </div>
    <script src="assets/js/pages/spreadsheet.js"></script>
{% endblock %}

