<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controle de Ativos | Login</title>
    <base href="{{ base }}">
    <!-- load fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons%7CPlayfair+Display:400,400i,700%7CRoboto+Condensed:400,700" rel="stylesheet">
    <!-- Crypto Styles -->
    <link id="crypto-stylesheet" rel="stylesheet" href="assets/css/night-gold-orange.css">
    <!-- page specific CSS -->
    {% block styles %}{% endblock %}
  </head>

  <body class="mdc-typography mdc-theme--background crypro-theme-gradient">


    {% block content %}{% endblock %}


    <!-- initialise material components js -->
    <script src="{{ base }}assets/js/material-components-web.min.js"></script>
    <script>mdc.autoInit()</script>

    <!-- page specific JS -->
    {% block scripts %}{% endblock %}

  </body>
</html>
